* {
    box-sizing: border-box;
}

button, form {
    margin-top: 40px;
}

.stroke-line {
    border-bottom: dimgrey solid 3px;
    width: 100px;
    margin: 0 auto;
}

.localisation {
    display: flex;
    justify-content: space-between;
}

.localisation div {
    max-width: 800px;
}

.boite{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.item{
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    background-color: white;
    color: black !important;
    width: 12.9vw !important;
    height: 6vh;
}