html {
    overflow-y: unset !important;
}

.uppercase {
    text-transform: uppercase;
}

.stroke-line {
    border-bottom: 3px solid #696969;
    width: 100px;
    margin: 30px auto;
}

.box {
    border-radius: 0 !important;
}

.border-radius-bottom {
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.tabs {
    margin-bottom: 0 !important;
}

.logo {
    position: absolute;
    right: 80px;
    bottom: 50px;
    margin: 0 auto;
    height: 200px;
    width: 200px;
}

.bg-bleu {
    background-color: #74b9ff !important;
}

.bg-orange {
    background-color: #fdcb6e !important;
}

.bg-violet {
    background-color: #a29bfe !important;
}

.bleu {
    color: #74b9ff !important;
}

.orange {
    color: #fdcb6e !important;
}

.violet {
    color: #a29bfe !important;
}

.navbar-item i {
    margin: 0 5px;
    color: #696969 !important;
}

.navbar-item.is-active {
    background-color: #fafafa !important;
}

.space-name {
    font-variant: small-caps;
    font-weight: bold;
}

footer {
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
}